{
  "parser": "babel-eslint",
  "plugins": ["react", "flowtype"],
  "settings": {
    "react": { "version": "detect" }
  },
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {},
  "extends": ["airbnb-base", "plugin:react/recommended"]
}